*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

  
body{
background: #000;
}
header{
    background: #000;
    color:#6e0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
    
}
header nav ul{
    list-style: none;
    display: flex;
    gap:20px;

}
header nav ul li a{
    text-decoration: none;
    color:#6e0000;
    font-weight: 700;
    font-family: "Tagesschrift", system-ui;
}
header nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}
header #logo{
    color:#6e0000;
    font-family: "Tagesschrift", system-ui;
}


#Cabecalhosobre{
    color: white;
    justify-content: center;

}
#textosobre{
    color: white;
    
}


footer{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color :#fff
}
header img{
    width: 60px;
    height: 50px;
    position: relative;right: 36%;
}
section img{
    width: 1900px;
    opacity: 30%;
    
}
.carpa{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 41%;
    transform: scale(-50%,-50%);
    opacity: 80%;
    border-radius: 70%;
 }
.container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto{
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(-50%,-50%);
}
.titulo{
    color: #930303;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
    font-size: 30px;
   

}
.containersobre{
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.textosobre{
    color: #a86161;
    position: absolute;
    top: 20%;
    width: 200;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;

}
#Cabecalhosobre{
    color: #f90303;
    position: absolute;
    top: 10%;
    left: 47%;
    width: 200;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
}
.cardapio{
    color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(-50%,-50%);
}
.chat{
    position: absolute;
   top: 40%;
   left: 10%;
  opacity: 100%;
   width: 600px;
   height: 500px;
}
.ifood{
    position: absolute;
   top:5%;
   left: 90%;
  opacity: 100%;
   width: 120px;
   border-radius: 30%;
   transform:scaleX(0,1)
   
  
}
.titulo2{
      color: #930303;
    position: absolute;
    top: 20%;
    left: 45%;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
    font-size: 30px;
}
.localizacao{
     color: #930303;
    position: absolute;
    top: 80%;
    left: 5%;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
    font-size: 25px;

}
.emoji{
     width:30px;
    position: absolute;
    top: 80%;
    left: 3%;
    opacity: 80%;
    border-radius: 70%;
}
.menu{
    color: #930303;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
    font-size: 30px;
}
#rodizio{
    width: 400px;
    position: relative;left: 150%;
    opacity: 100%;
}
#alacarte{
    width: 300px;
}
.trocar{
     top: 60%;
    width: 25px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: scale(2);
    background: #908c8c;
    
      & img {
        width: 10px;
        background-color: transparent;
       
   
}
   
    
   
    
  
  }
    

.seta{
 
   width: 120px;
   position: absolute;
   border: none;
   cursor: pointer;
   left: 250%;
   top: 50%;
  
    & :hover{
    background-color: #c2bfbf;
    border-radius: 50%;
}
   
}
   
  

  


    






/*contato*/
#container-contato{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.contato{
    background-image: linear-gradient(rgb(121, 9, 9),rgb(121, 9, 9));
    width: 500px;
    height: 500px;
    border-radius: 20px;
    
}

.form{
    padding:  0 40px 30px;
}
.control{
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
}
.control label{
    margin-top: 20px;
    display: inline;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color:#fff;
    text-transform: uppercase;
}
.control input{
    border: 2px solid #555;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 15px;
}

#descricao{
    width: 400px;
    height: 100px;
    border-radius: 10px;
}

.form button{
    width: 80%;
    height: 30px;
    background: rgb(121, 9, 9);
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 20px;
}

.form button:hover{
    background: black;
    color:#fff;
    transition: 0.3s;
}

.control.error i.erro{
    visibility: visible;

}
.control.erro small{
    color: red;
    font-size: 1.3rem;
    visibility: visible;
}
.control small,i {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
}

input#nome{
    color: white;
    
}

input#email{
    color: white;
}

textarea#descricao{
    color: white;
}

form#form.form{

    background: #352b2b;
}

article.control{
    background: #352b2b;
}
label{
    background: #352b2b;
}
    