*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

  
body{
background: #000;
}
header{
    background: #000;
    color:#6e0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
    
}
header nav ul{
    list-style: none;
    display: flex;
    gap:20px;

}
header nav ul li a{
    text-decoration: none;
    color:#6e0000;
    font-weight: 700;
    font-family: "Tagesschrift", system-ui;
}
header nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}
header #logo{
    color:#6e0000;
    font-family: "Tagesschrift", system-ui;
}


#Cabecalhosobre{
    color: white;
    justify-content: center;

}
#textosobre{
    color: white;
    
}


footer{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color :#fff
}
header img{
    width: 60px;
    height: 50px;
    position: relative;right: 30%;
}
section img{
    width: 1300px;
    opacity: 30%;
    
}
.carpa{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: scale(-50%,-50%);
    opacity: 80%;
    border-radius: 70%;
 }
.container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto{
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(-50%,-50%);
}
.titulo{
    color: #930303;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
    font-size: 30px;
   

}
.containersobre{
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.textosobre{
    color: #a86161;
    position: absolute;
    top: 40%;
    width: 200;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;

}
#Cabecalhosobre{
    color: #f90303;
    position: absolute;
    top: 20%;
    left: 47%;
    width: 200;
    background-color: transparent;
    font-family: "Tagesschrift", system-ui;
}
